/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline 'test'.

    Use as follows:
        nextflow run raccoon-nf/main.nf -profile test,<docker/conda>

    WARNING! Defults in nextflow_schema.json (ie. the epi2me options) will overide any
    params below so set up 'test' appropriately. The commandline pipeline will take the
    below params successfully. This means the results between running 'test' in epi2me 
    and on the command line will differ slightly.

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '14.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name         = 'Test profile'
    config_profile_description  = 'Minimal test dataset to check pipeline function'

    fasta                       = "${projectDir}/assets/test_data"
    metadata                    = "${projectDir}/assets/test_data"
    min_length                  = 2000
    max_n_content               = 0.2
    tree_model                  = 'HKY+G'
    header_fields               = '{sample}|{admin1}|{admin2}|{date}'
    metadata_date_field         = 'date'
    metadata_location_field     = 'admin2'
}